**Enter your Names:**  William Yao, William Phan, Emilio Rivera, Ari Anugu

---


    
**Enter your PIDs:**  syao2017, wphan21, emilio532, anugu2

Description: We are planning on trying to trace the spread and decline of covid specifically in the USA.

Questions: What would affect disease spread rate? Are there any particular demographics which were affected more? Any areas?

Potential Data Points: High density areas, hispitalizations, demographics, rate of vaccinations, political demographic
https://www.cdc.gov/nchs/nvss/vsrr/covid_weekly/index.htm
https://www.cdc.gov/coronavirus/2019-ncov/science/forecasting/mathematical-modeling-outbreak.html
https://covid.cdc.gov/covid-data-tracker/#trends_dailycases

Possible questions:
    which state is most likely to get covid?
    Where will covid most likely appear next?
    which state best handled covid?

In [21]:
import requests, bs4, pandas
usVax = pandas.read_csv('covid19_vaccinations_in_the_united_states.csv')
usCase = pandas.read_csv('united_states_case_trends.csv')
usDeath = pandas.read_csv('united_states_death_trends.csv')

#Date generated: Tue Apr 05 2022 14:55:59 GMT-0400 (Eastern Daylight Time) for all tables

In [22]:
usVax

,State/Territory/Federal Entity,Total Doses Delivered,Doses Delivered per 100K,18+ Doses Delivered per 100K,Total Doses Administered by State where Administered,Doses Administered per 100k by State where Administered,18+ Doses Administered by State where Administered,18+ Doses Administered per 100K by State where Administered,People with at least One Dose by State of Residence,Percent of Total Pop with at least One Dose by State of Residence,...,Percent People Primary Moderna Booster J&J,Percent People Primary Moderna Booster Other,Percent People Primary J&J Booster Pfizer,Percent People Primary J&J Booster Moderna,Percent People Primary J&J Booster J&J,Percent People Primary J&J Booster Other,Percent People Primary Other Booster Pfizer,Percent People Primary Other Booster Moderna,Percent People Primary Other Booster J&J,Percent People Primary Other Booster Uknown
0,United States,705978645,212639.0,273360.0,562935409,169554.0,508943648,197067.0,255838817,77.1,...,0.1,0.0,34.6,41.2,24.2,0.0,51.5,41.8,0.4,6.3
1,Alaska,1490565,203756.0,270244.0,1121905,153361.0,1005022,182214.0,507491,69.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,9455740,192849.0,247865.0,6180194,126044.0,5767646,151188.0,3056752,62.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,5978480,198107.0,257955.0,4149914,137514.0,3784196,163277.0,1999265,66.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,American Samoa,114610,241834.0,365757.0,105490,222590.0,78163,249443.0,44860,94.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Vermont,1739550,278779.0,341099.0,1365596,218849.0,1224103,240028.0,580656,93.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Washington,17277395,226890.0,290287.0,14109436,185287.0,12707249,213501.0,6120386,80.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Wisconsin,11261145,193410.0,247181.0,10008962,171903.0,9119439,200170.0,4162469,71.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,West Virginia,3955545,220715.0,276113.0,2670699,149022.0,2496375,174257.0,1158997,64.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Wyoming,949785,164107.0,213423.0,741946,128196.0,687016,154377.0,338316,58.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
usCase

,State,Date,New Cases,7-Day Moving Avg(covid cases),Total Doses Administered,Historic Cases
0,United States,Apr 3 2022,5601,25074,562435301.0,0
1,United States,Apr 2 2022,7967,25787,562420626.0,1096
2,United States,Apr 1 2022,28064,25970,562271679.0,1913
3,United States,Mar 31 2022,35943,25984,561831270.0,6886
4,United States,Mar 30 2022,40547,25727,561411861.0,9063
...,...,...,...,...,...,...
797,United States,Jan 27 2020,0,0,NaN,0
798,United States,Jan 26 2020,1,0,NaN,0
799,United States,Jan 25 2020,0,0,NaN,0
800,United States,Jan 24 2020,1,0,NaN,0
801,United States,Jan 23 2020,1,0,NaN,0

In [24]:
usDeath

,State,Date,New Deaths,7-Day Moving Avg(covid deaths),Current Hospitalized COVID-19 Patients,Historic Deaths
0,United States,Apr 3 2022,33,572,NaN,0
1,United States,Apr 2 2022,104,576,10425.14,0
2,United States,Apr 1 2022,570,583,11226.43,0
3,United States,Mar 31 2022,700,608,11671.14,0
4,United States,Mar 30 2022,1158,637,12015.14,0
...,...,...,...,...,...,...
797,United States,Jan 27 2020,0,0,NaN,0
798,United States,Jan 26 2020,0,0,NaN,0
799,United States,Jan 25 2020,0,0,NaN,0
800,United States,Jan 24 2020,0,0,NaN,0
801,United States,Jan 23 2020,0,0,NaN,0