**Enter your Names:**  William Yao, William Phan, Emilio Rivera, Ari Anugu

---


    
**Enter your PIDs:**  syao2017, wphan21, emilio532, anugu2

# Project 1: Covid Tracker

#### Description: 
We are planning to find different correlations between COVID-19 vaccinations and the spread of the virus in the United States. While conducting such an analysis, we will also consider how different demographic groups are affected based on vaccination rates, political leanings, and other factors.
 
#### Questions: 
Does higher vaccination rates in different states lead to a reduction in the cases and deaths from COVID-19? How are different demographic groups (race, ethnicity, age, sex, etc.) affected by the virus when vaccinated or unvaccinated? If so, why are specific states more likely to have a faster spread of the virus? Could the political leanings in these various states lead to a greater spread of the disease?

#### Potential Data Points: 
High density areas, hispitalizations, demographics, rate of vaccinations, political demographic
https://www.cdc.gov/nchs/nvss/vsrr/covid_weekly/index.htm
https://www.cdc.gov/coronavirus/2019-ncov/science/forecasting/mathematical-modeling-outbreak.html
https://covid.cdc.gov/covid-data-tracker/#trends_dailycases

<i>Vaccination data</i>: 
https://data.cdc.gov/Vaccinations/COVID-19-Vaccinations-in-the-United-States-Jurisdi/unsk-b7fc

<i>Cases and Death data</i>:
https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36

Possible questions:
    which state is most likely to get covid?
    Where will covid most likely appear next?
    which state best handled covid?

In [27]:
import requests, pandas


cCasesAndDeaths = pandas.read_csv('cumalitiveCasesAndDeaths.csv')
DCasesAndDeaths = pandas.read_csv('dailyCasesAndDeaths.csv')
vaccinations = pandas.read_csv('vaccinesDelivered.csv')

#Date generated: Tue Apr 05 2022 14:55:59 GMT-0400 (Eastern Daylight Time) for all tables

cCasesAndDeaths.shape, DCasesAndDeaths.shape, vaccinations.shape

((57, 7), (57, 9), (60, 8))

In [28]:
cCasesAndDeaths

,Location,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",COVID-19 Fatality Rate,Footnotes
0,United States,"78,798,989",NaN,"944,830",NaN,0.012,1.0
1,Alabama,"1,276,580",NaN,"18,102",NaN,0.014,NaN
2,Alaska,"237,754",NaN,"1,163",NaN,0.005,NaN
3,Arizona,"1,973,479",NaN,"27,876",NaN,0.014,NaN
4,Arkansas,"817,798",NaN,"10,381",NaN,0.013,NaN
5,California,"8,946,146",NaN,"84,728",NaN,0.009,NaN
6,Colorado,"1,309,778",NaN,"11,750",NaN,0.009,NaN
7,Connecticut,"721,954",NaN,"10,443",NaN,0.014,NaN
8,Delaware,"256,207",NaN,"2,703",NaN,0.011,NaN
9,District of Columbia,"134,214",NaN,"1,317",NaN,0.010,NaN
10,Florida,"5,818,706",NaN,"69,553",NaN,0.012,NaN
11,Georgia,"2,461,103",NaN,"35,194",NaN,0.014,NaN
12,Hawaii,"235,124",NaN,"1,312",932.0,0.006,NaN
13,Idaho,"421,587",NaN,"4,722",NaN,0.011,NaN
14,Illinois,"3,024,663",NaN,"35,013",NaN,0.012,NaN
15,Indiana,"1,679,591",NaN,"22,736",NaN,0.014,NaN
16,Iowa,"748,057",NaN,"9,085",NaN,0.012,NaN
17,Kansas,"764,957",NaN,"7,928",NaN,0.010,NaN
18,Kentucky,"1,270,258",NaN,"13,689",NaN,0.011,NaN
19,Louisiana,"1,161,957",NaN,"16,582",NaN,0.014,NaN
20,Maine,"224,048",NaN,"2,024",NaN,0.009,NaN
21,Maryland,"999,890",NaN,"14,076",NaN,0.014,NaN
22,Massachusetts,"1,668,242",NaN,"23,340",NaN,0.014,NaN
23,Michigan,"2,350,468",NaN,"34,370",NaN,0.015,NaN
24,Minnesota,"1,411,593",NaN,"12,246",NaN,0.009,NaN
25,Mississippi,"788,479",NaN,"11,984",NaN,0.015,NaN
26,Missouri,"1,399,180",NaN,"19,037",NaN,0.014,NaN
27,Montana,"265,177",NaN,"3,162",NaN,0.012,NaN
28,Nebraska,"453,522",NaN,"3,954",NaN,0.009,NaN
29,Nevada,"679,715",NaN,"9,612",NaN,0.014,NaN
30,New Hampshire,"296,870",NaN,"2,370",NaN,0.008,NaN
31,New Jersey,"2,161,190",NaN,"32,800",NaN,0.015,NaN
32,New Mexico,"510,330",NaN,"6,873",NaN,0.013,NaN
33,New York,"4,917,723",NaN,"67,220",NaN,0.014,NaN
34,North Carolina,"2,578,517",NaN,"22,449",NaN,0.009,NaN
35,North Dakota,"237,599",NaN,"2,230",NaN,0.009,NaN
36,Ohio,"2,649,692",NaN,"36,267",NaN,0.014,NaN
37,Oklahoma,"1,018,328",NaN,"14,537",NaN,0.014,NaN
38,Oregon,"691,337",NaN,"6,578",NaN,0.010,NaN
39,Pennsylvania,"2,751,629",NaN,"43,069",NaN,0.016,NaN
40,Rhode Island,"355,294",NaN,"3,406",NaN,0.010,NaN
41,South Carolina,"1,458,075",NaN,"16,643",NaN,0.011,NaN
42,South Dakota,"235,654",NaN,"2,788",NaN,0.012,NaN
43,Tennessee,"1,999,965",NaN,"24,107",NaN,0.012,NaN
44,Texas,"6,600,661",NaN,"84,462",NaN,0.013,NaN
45,USVI,"15,341",NaN,109,NaN,0.007,NaN
46,Utah,"921,531",NaN,"4,397",NaN,0.005,NaN
47,Vermont,"111,794",NaN,593,951.0,0.005,NaN
48,Virginia,"1,634,851",NaN,"18,440",NaN,0.011,NaN
49,Washington,"1,414,222",NaN,"11,732",NaN,0.008,NaN
50,West Virginia,"487,446",NaN,"6,288",NaN,0.013,NaN
51,Wisconsin,"1,569,673",NaN,"13,223",NaN,0.008,NaN
52,Wyoming,"154,797",NaN,"1,718",NaN,0.011,NaN
53,American Samoa,72,NaN,0,NaN,0.000,NaN
54,Guam,"43,836",NaN,321,NaN,0.007,NaN
55,Northern Mariana Islands,"9,265",NaN,27,NaN,0.003,NaN
56,Puerto Rico,"472,918",NaN,"4,098",NaN,0.009,NaN

In [30]:
DCasesAndDeaths

,Location,Daily Change in Cumulative Cases,Daily Cases (7-Day Rolling Average),Daily Cases Per Million Population,Percent Change in Cases Over 14 Days,Daily Change in Cumulative Deaths,Daily Deaths (7-Day Rolling Average),Daily Deaths Per Million Population,Percent Change in Deaths Over 14 Days
0,United States,"65,491","74,750",227.0,-0.646,"2,941","1,742",5.0,-0.325
1,Alabama,"1,225",938,191.0,-0.761,95,45,9.0,0.098
2,Alaska,0,421,575.0,-0.679,0,3,4.0,0.048
3,Arizona,"1,801","1,945",262.0,-0.635,86,68,9.0,0.122
4,Arkansas,571,876,289.0,-0.488,40,21,7.0,-0.284
5,California,"14,179","9,527",242.0,-0.698,260,163,4.0,-0.211
6,Colorado,"1,427","1,473",254.0,-0.472,21,11,2.0,-0.807
7,Connecticut,458,556,156.0,-0.430,5,17,5.0,-0.131
8,Delaware,822,252,256.0,-0.381,0,7,7.0,0.043
9,District of Columbia,100,90,126.0,-0.608,0,1,1.0,-0.714
10,Florida,0,"6,053",279.0,-0.718,598,140,6.0,-0.522
11,Georgia,"2,157","1,738",162.0,-0.657,99,84,8.0,-0.119
12,Hawaii,289,281,200.0,-0.695,8,3,2.0,-0.511
13,Idaho,"2,409","1,490",816.0,-0.199,7,10,5.0,-0.056
14,Illinois,"1,979","2,020",160.0,-0.708,63,47,4.0,-0.507
15,Indiana,963,976,144.0,-0.639,43,44,7.0,-0.144
16,Iowa,355,612,193.0,-0.696,0,20,6.0,-0.203
17,Kansas,0,500,172.0,-0.629,0,6,2.0,-0.726
18,Kentucky,0,"2,308",516.0,-0.617,0,24,5.0,-0.254
19,Louisiana,831,842,181.0,-0.696,25,33,7.0,-0.229
20,Maine,"1,123","2,578",NaN,1.952,53,20,15.0,2.133
21,Maryland,661,652,108.0,-0.432,14,14,2.0,-0.625
22,Massachusetts,"1,620","1,310",190.0,-0.544,47,40,6.0,-0.335
23,Michigan,0,"1,868",187.0,-0.614,0,71,7.0,-0.228
24,Minnesota,"1,010","1,308",231.0,-0.706,57,21,4.0,-0.305
25,Mississippi,541,592,199.0,-0.864,30,28,9.0,-0.366
26,Missouri,"1,298","1,031",168.0,-0.704,387,65,10.0,0.238
27,Montana,900,653,605.0,-0.534,6,9,8.0,0.969
28,Nebraska,32,190,98.0,-0.751,10,12,6.0,-0.202
29,Nevada,"1,031",433,138.0,-0.670,38,18,6.0,-0.454
30,New Hampshire,"1,169",669,490.0,-0.348,2,6,5.0,-0.102
31,New Jersey,0,"1,157",130.0,-0.505,0,27,3.0,-0.611
32,New Mexico,620,569,270.0,-0.662,22,18,9.0,0.124
33,New York,"2,669","2,691",139.0,-0.553,59,54,3.0,-0.557
34,North Carolina,"3,650","3,371",318.0,-0.609,59,55,5.0,-0.298
35,North Dakota,278,190,249.0,-0.756,3,2,3.0,-0.440
36,Ohio,"1,321","1,356",116.0,-0.610,0,0,0.0,NaN
37,Oklahoma,"1,383",880,221.0,-0.588,49,48,12.0,-0.037
38,Oregon,856,989,233.0,-0.693,59,19,5.0,-0.178
39,Pennsylvania,"1,862","2,294",179.0,-0.552,67,65,5.0,-0.459
40,Rhode Island,280,217,205.0,-0.646,2,1,1.0,-0.735
41,South Carolina,"1,085","1,503",288.0,-0.658,29,18,3.0,-0.686
42,South Dakota,113,224,251.0,-0.339,4,3,4.0,-0.241
43,Tennessee,"2,639","2,335",339.0,-0.774,96,34,5.0,-0.452
44,Texas,"6,457","6,453",220.0,-0.638,251,181,6.0,-0.069
45,Utah,627,615,189.0,-0.684,5,8,2.0,-0.411
46,Vermont,210,197,316.0,-0.427,0,2,3.0,-0.176
47,Virginia,"2,176","2,145",250.0,-0.543,102,70,8.0,-0.417
48,Washington,0,739,96.0,-0.855,24,30,4.0,-0.398
49,West Virginia,"1,240",965,541.0,-0.567,38,20,11.0,0.036
50,Wisconsin,871,977,167.0,-0.653,67,26,4.0,-0.390
51,Wyoming,135,135,232.0,-0.693,0,4,7.0,0.706
52,American Samoa,0,2,NaN,0.000,0,0,NaN,NaN
53,Guam,276,294,NaN,-0.494,1,1,NaN,-0.333
54,Northern Mariana Islands,157,159,NaN,-0.080,0,0,NaN,NaN
55,Puerto Rico,0,623,197.0,-0.256,10,5,2.0,-0.558
56,Virgin Islands,14,12,NaN,-0.540,0,0,NaN,-0.667

In [29]:
vaccinations

,Location,Total COVID-19 Vaccines Delivered,Total COVID-19 Vaccines Administered,Share of Delivered Vaccines That Have Been Administered,Number of People Who Have Been Vaccinated with At Least One Dose,Share of Population Vaccinated with At Least One Dose,Number of People Who Have Been Fully Vaccinated,Share of Population Fully Vaccinated
0,United States,"688,186,745","551,855,907",0.80200,"253,307,984",0.763,"215,253,201",0.648
1,Alabama,"9,229,440","6,087,103",0.66000,"3,031,464",0.618,"2,459,363",0.502
2,Alaska,"1,436,865","1,093,808",0.76100,"500,864",0.685,"445,530",0.609
3,Arizona,"14,019,320","11,508,661",0.82100,"5,191,587",0.713,"4,364,444",0.600
4,Arkansas,"5,845,920","4,081,816",0.69800,"1,981,905",0.657,"1,612,690",0.534
5,California,"85,679,525","71,306,336",0.83200,"32,284,670",0.817,"27,773,615",0.703
6,Colorado,"11,822,075","10,299,034",0.87100,"4,507,596",0.783,"3,980,992",0.691
7,Connecticut,"8,282,535","7,277,732",0.87900,"3,345,245",0.938,"2,771,081",0.777
8,Delaware,"2,215,155","1,729,273",0.78100,"794,932",0.816,"656,886",0.675
9,District of Columbia,"1,771,405","1,412,520",0.79700,"670,350",0.950,"503,427",0.713
10,Florida,"45,510,745","36,035,360",0.79200,"16,742,736",0.780,"14,140,484",0.658
11,Georgia,"20,586,095","14,324,212",0.69600,"6,823,694",0.643,"5,684,843",0.535
12,Hawaii,"3,313,480","2,798,201",0.84400,"1,219,505",0.861,"1,091,528",0.771
13,Idaho,"3,204,890","2,360,131",0.73600,"1,076,526",0.602,"947,620",0.530
14,Illinois,"26,091,295","21,736,793",0.83300,"9,626,645",0.760,"8,535,116",0.674
15,Indiana,"12,572,080","9,181,342",0.73000,"4,079,456",0.606,"3,633,484",0.540
16,Iowa,"6,218,655","4,918,082",0.79100,"2,120,865",0.672,"1,925,828",0.610
17,Kansas,"5,730,415","4,426,448",0.77200,"2,136,257",0.733,"1,748,742",0.600
18,Kentucky,"8,364,175","6,307,433",0.75400,"2,914,663",0.652,"2,518,865",0.564
19,Louisiana,"7,882,490","6,037,879",0.76600,"2,791,343",0.600,"2,437,569",0.524
20,Maine,"3,184,150","2,699,754",0.84800,"1,199,695",0.892,"1,052,865",0.783
21,Maryland,"14,974,410","11,477,997",0.76700,"5,123,280",0.847,"4,467,987",0.739
22,Massachusetts,"16,136,690","14,240,010",0.88200,"6,644,667",0.950,"5,347,614",0.776
23,Michigan,"19,969,530","15,173,971",0.76000,"6,594,683",0.660,"5,906,732",0.591
24,Minnesota,"11,948,370","9,881,179",0.82700,"4,188,548",0.743,"3,839,758",0.681
25,Mississippi,"5,272,935","3,755,138",0.71200,"1,747,941",0.587,"1,513,239",0.508
26,Missouri,"11,044,405","8,640,760",0.78200,"4,007,078",0.653,"3,378,567",0.550
27,Montana,"1,876,695","1,532,922",0.81700,"688,693",0.644,"597,260",0.559
28,Nebraska,"3,759,510","3,076,310",0.81800,"1,340,841",0.693,"1,207,389",0.624
29,Nevada,"5,658,010","4,702,645",0.83100,"2,277,308",0.739,"1,835,909",0.596
30,New Hampshire,"3,264,030","2,627,136",0.80500,"1,465,389",0.950,"949,182",0.698
31,New Jersey,"20,891,835","16,506,885",0.79000,"7,891,960",0.889,"6,584,250",0.741
32,New Mexico,"4,239,545","3,757,497",0.88600,"1,800,199",0.859,"1,458,010",0.695
33,New York,"43,788,845","37,747,898",0.86200,"17,276,912",0.888,"14,667,298",0.754
34,North Carolina,"20,827,700","16,087,180",0.77200,"8,616,580",0.822,"6,214,836",0.593
35,North Dakota,"1,311,600","1,062,988",0.81000,"490,919",0.644,"414,566",0.544
36,Ohio,"21,898,055","17,195,084",0.78500,"7,343,557",0.628,"6,724,932",0.575
37,Oklahoma,"6,967,830","5,713,651",0.82000,"2,767,253",0.699,"2,214,720",0.560
38,Oregon,"9,499,285","7,424,941",0.78200,"3,241,951",0.769,"2,892,814",0.686
39,Pennsylvania,"28,729,125","22,046,766",0.76700,"10,653,120",0.832,"8,559,178",0.669
40,Rhode Island,"2,490,125","2,125,909",0.85400,"1,018,609",0.950,"853,229",0.805
41,South Carolina,"9,970,875","7,253,946",0.72800,"3,419,999",0.664,"2,870,932",0.558
42,South Dakota,"1,759,565","1,352,959",0.76900,"662,041",0.748,"528,863",0.598
43,Tennessee,"12,208,730","9,577,064",0.78400,"4,185,761",0.613,"3,654,266",0.535
44,Texas,"58,653,495","44,254,223",0.75500,"20,536,806",0.708,"17,374,227",0.599
45,Utah,"5,969,050","5,062,117",0.84800,"2,281,759",0.712,"2,027,921",0.633
46,Vermont,"1,695,750","1,344,313",0.79300,"579,333",0.928,"499,883",0.801
47,Virginia,"18,692,805","15,848,582",0.84800,"7,202,040",0.844,"6,135,445",0.719
48,Washington,"16,804,395","13,818,660",0.82200,"6,065,279",0.797,"5,431,648",0.713
49,West Virginia,"3,839,685","2,631,484",0.68500,"1,149,309",0.641,"1,016,453",0.567
50,Wisconsin,"11,050,945","9,846,287",0.89100,"4,133,936",0.710,"3,754,939",0.645
51,Wyoming,"931,585","730,002",0.78400,"335,348",0.579,"292,555",0.505
52,American Samoa,"92,810","86,358",0.93000,"42,660",0.900,"38,167",0.805
53,Federated States of Micronesia,"151,100","103,551",0.68500,"59,361",0.580,"48,200",0.471
54,Guam,"317,160","329,166",1.03800,"149,403",0.887,"134,682",0.799
55,Marshall Islands,"81,080","52,349",0.64600,"27,874",0.359,"23,655",0.304
56,Northern Mariana Islands,"121,430","105,571",0.86900,"45,022",0.868,"42,743",0.824
57,Puerto Rico,7267790,"6,895,718",0.94881,3037979,0.950,2594790,0.812
58,Republic of Palau,43990,"46,408",1.05497,20228,0.939,17826,0.828
59,Virgin Islands,145460,"139,733",0.96063,67425,0.634,55901,0.526

# Data Cleaning

<i>**Goal**</i>: 
* We will clean up any data that will be used in our analysis

<i>What will we change?</i>
* Replace extreme values
* Make sure all data units are correct 
* Make sure all values in the table have the correct data types.
* Replace NaN values with a value that better suits the data
* Get rid of any messy text such as punctionation, whitespace, etc.

In [33]:
merged = cCasesAndDeaths.merge(DCasesAndDeaths, how = 'inner', on = ['Location'])
merged.shape

(56, 15)

,Unnamed: 0,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,Number of COVID-19 Cases,"78,798,989","1,276,580","237,754","1,973,479","817,798","8,946,146","1,309,778","721,954","256,207",...,"235,654","1,999,965","6,600,661","921,531","111,794","1,634,851","1,414,222","487,446","1,569,673","154,797"
3,Deaths from COVID-19,"944,830","18,102","1,163","27,876","10,381","84,728","11,750","10,443","2,703",...,"2,788","24,107","84,462","4,397",593,"18,440","11,732","6,288","13,223","1,718"
10,Percent Change in Cases Over 14 Days,-64.6%,-76.1%,-67.9%,-63.5%,-48.8%,-69.8%,-47.2%,-43.0%,-38.1%,...,-33.9%,-77.4%,-63.8%,-68.4%,-42.7%,-54.3%,-85.5%,-56.7%,-65.3%,-69.3%
16,Total COVID-19 Vaccines Delivered,"688,186,745","9,229,440","1,436,865","14,019,320","5,845,920","85,679,525","11,822,075","8,282,535","2,215,155",...,"1,759,565","12,208,730","58,653,495","5,969,050","1,695,750","18,692,805","16,804,395","3,839,685","11,050,945","931,585"

# Visualization

* We will make a line graph that shows the cases and deaths overtime
* Line graph showing vaccination rate overtime
* Another line graph showing the trends of the number of cases, deaths, and vaccinations. Such graph will help us to observe any useful patterns between vaccinations and COVID-19 spread.
* We will also make use of scatter plots and bargraphs in order to find more useful patterns in our analysis.

# Analyze Data

# Report
* We may be able to use linear regression to model see different correlations between variables.